/* #card-value {
  font-size: 80px;
}

#card-suite {
  font-size: 60px;
} */

body {
  background-color: green;
}

.card {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* align-content: center; */
  background-color: white;
  height: 200px;
  width: 120px;
  border-radius: 10px;
  padding: 10px;
}

#card-value {
  font-size: 60px;
}

.card-suite {
  font-size: 30px;
}

#suite-top {
  align-self: flex-start;
}

#suite-bottom {
  align-self: flex-end;
}

.hearts {
  color: red;
}
.diamonds {
  color: red;
}
